body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0c0c;
    color: #0a0786;
}

header {
    background: #2c3e50;
    color: #fcfcfc;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background: #0b3055;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: #040505;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #f5fcfc;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    background: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 70%;
    background: #f00f0f;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background: #2b71c0;
    color: #32c8ee;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
